*{
    color: #000066;
    font-family: 'Monoty Cursiva';
}

html{
    background-color: #fff;
}

body{
    width: 60%;
    margin: auto;
    background-color: #ef6;
}

h1{
    text-align: center;
}

.tarto{
    padding-left: 5px;
    padding-right: 5px;
}

.bal {
    float: left;

}

.jobb {
    float: right;
}

hr {
    height: 3px;
    background-color: #f00;
    border:none;
}

.napok{
    padding-left: 30px;
    position: relative;
}

img.kep{
    width: 180px;
    position: absolute;
}